.login__container{
    display: flex;
    
    background-color: #355480;
}
.parte1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.imagen{
    width: 50%;
    height: 100vh;
    object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
}