.login__container{
    display: flex;
    background-color: #355480;
}
.parte1{
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}
.imagen{
    width: 50%;
    height: 100vh;
    object-fit:cover;
}
body{
    margin: 0;
    padding: 0;
}
.formVacant{
    margin-left: 125px;
    width: 50%;
}
.PublicarVacante__container{
    display: flex;
    align-items: center;
}
.img_pageweb{
    width: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}
.button_add{
    text-align: center;
}

.page-title{
    margin-top:7vh;
    width: 100%;
    text-align: center;
}

.job-card{
    width: 40vw;
    height: 50vh;
    margin-left:5vw;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    border-left: #083CAE solid 5px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    margin-top: 10vh;
    padding-top: 3vh;
}

.job-card div{

}

.job-date{
    color:#AAAAAA;
    font-size: 0.75rem;
}

.job-vacant{
    font-weight: bolder;
    font-size: 1.2rem;
}


.requests-number-box{
    border: solid 3px #083CAE;
    border-radius: 5px;
    text-align: center;
    font-weight: bolder;
    width: 7vw;
    /* padding-top: 0vh; */
    /* padding-bottom: -3vh; */
}

.show-requests-button{
    background: #083CAE;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
    padding: 2vh 1vw;
    margin-top: auto;
}
.position_logo{
    position: relative;
    top: 200px;
}

.contain_search{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(1fr, max-content);
}

.contain_navigate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

.button_navigate {
    margin: 10px;
    height: 40px;
    width: 80px;
    border-radius: 10px;
    background-color: #083CAE;
    border: none;
    box-shadow: none;
    color: white;
}
.page-number {
    padding: 5px;
    margin: 0 5px;
}

.current-page {
    background-color: blue;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    font-size: 20px;

}
