.button_login{
    background-color: #0084FF;
    color: #000000;
    border: 0;
    border-radius: 30px;
    padding: 15px 80px;
    font-size: 15px;
    margin-top: 45px;
}
.formulario{
    background-color: #6FB8FC;
    width: 40vw;
    height: 37vw;
    border-radius: 30px;
    margin: 0 auto;
}
.formLogin{
    margin-top: 20px;
}
.centrar{
   text-align: center;
}
.label-form{
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
}
.input-form{
    border: 0;
    border-radius: 10px;
    width: 24vw;
    padding: 0px 0px 0px 20px;
    height: 50px;
    font-size: 15px;
    color: #000000;
    box-shadow: 0px 4px 4px #5d5d5d;
    margin: 20px 0;
}
.inputLabel__container{ 
    width: 25vw;
    margin: 18px auto;
}
.img-login{
    margin-top: 40px;
    width: 125px;
    height: 125px;
}
.nav__container{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: #083CAE;
}
.nav__container p{
    padding: 0 30px;
    font-size: 18px;
    color: white;
    margin: auto 0;
}
.decoration{
    text-decoration: none;
}
.img_nav{
    margin-left: 10px;
}
.under:hover{
    text-decoration:underline;
    transform:scale(1.1);
    transition:all 0.6s;
}
.input-search{
    box-sizing: border-box;
    color: #000000;
    padding: 15px 15px 15px 35px;
    width: 100%;
    border-radius: 10px;
    border: 0;
}
.button__searchChange{
    height: 46px;
    width: 200px;
    padding: 0 20px;
    color: #000000;
    background-color: transparent;
    border: 2px solid #CB5132;
    border-radius: 20px;
    font-size: 16px;
}
.input-icon{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.inputSearch__container{
    position: relative;
  width: 350px;
  margin-left: 70px;
}
.button__search{
    margin-left: 35px;
    height: 46px;
    padding: 0 25px;
    font-size: 18px;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #CB5132;
    border-radius: 20px;
}
.labelPublicVacant{
    font-size: 15px;
}
.inputPublicVacant{
    margin-left: 5px;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
    width: 25vw;
    font-size: 15px;
}
.inputPublicVacantShort{
    margin-left: 5px;
    padding: 10px 10px;
    border-radius: 6px;
    border: 1px solid #b6b6b6;
    width: 10vw;
}
.labelInputPublicVacant__container{
    margin: 20px 0px;
}
.titles_vacant{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0px;
}
.subtitle_vacant{
    font-size: 13px;
    color: #606060;
    margin-top: -10px;
}
.buttonAddVacant{
    border: 0;
    background-color: #EC3C65;
    padding: 15px 70px;
    border-radius: 4px;
    margin-bottom: 5vh;
    margin-top: 3vh;
}

.show-requests-button{
    margin-top: 8vh;
}

.company-logo{
    width: 80px;
    height: 45px;
    margin-top: 5vh;
    border-radius: 5px;
}

.request-status-text{
    color:rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
}
.request-status{
    padding: 2px 20px;
}
.inputRegister{
    border: 1px solid #B7B7B7;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    margin: 10px;
}
.inputRegisterImg{
    border: 1px solid #B7B7B7;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: transparent;
    margin: 10px;
}
.input_icon_register{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
}
.buttonRegister{
    border: 1px solid #B7B7B7;
    border-radius: 40px;
    padding: 10px;
    width: 300px;
    height: 60px;
    font-size: 18px;
    color: white;
    background-color: #203880;
}
.buttonRegisterStyle{
    border: 2px solid #203880;
    border-radius: 40px;
    padding: 10px;
    width: 300px;
    height: 60px;
    font-size: 18px;
    color: #243f91;
    background-color: transparent;
}

.form{
    display: flex;
    justify-content: center;
}
.col{
    margin: 0 40px;
}
li{
    font-size: 10px;
    color: grey;
}
ul{
    margin-top: -5px;
}

.terminos{
    font-size: 10px;
    color: grey;
    width: 29vw;
    margin: 10px auto;
}
.btn_center{
    margin: 5px auto;
    width: 19.6vw;
}
.footer_contain {
    display: flex;
    padding: 20px;
    text-align: center;
    background-color: #F7F6F6;
}

.contain1, .contain2, .contain3 {
    padding: 20px;
    width: 100%;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    margin: 10px 0;
    font-size: 16px;
}

.mensajes_footer{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif ;
    font-family: 'Playpen Sans', cursive;
}
.logout-box{
    border: solid 2px #ffffff;
    border-radius: 5px;
}